<tr>
  <td width="250px"  class="table-primary">
    {% if field.fieldName == 'context' %}
      @{{field.fieldName}}
    {% else %}
      {{field.fieldName}}
    {% endif %}
  </td>
  <td width="150px">

    {% if field.model %}
      {% set thismodel = field.model %}
      {% include "fragments/model_link.html"%}
    {% endif %}

    {% if field.requiredType %}
      {% set thistype = field.requiredType %}
      {% include "fragments/type_link.html"%}
    {% endif %}

    {% if field.alternativeModels %}
      <div class="pale">OR</div>
      {% for alternativeModel in field.alternativeModels %}
        {% set thismodel = alternativeModel %}
        {% include "fragments/model_link.html"%}
        {% if not loop.last %}
        <div class="pale">OR</div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if field.alternativeTypes %}
      <div class="pale">OR</div>
      {% for alternativeType in field.alternativeTypes %}
        {% set thistype = alternativeType %}
        {% include "fragments/type_link.html"%}
        {% if not loop.last %}
        <div class="pale">OR</div>
        {% endif %}
        {% endfor %}
    {% endif %}

  </td>
  <td>
    {% set paragraphs = field.markdown %}
    {% include "fragments/markdown_paragraphs.html" %}
    <h6>Example</h6>
    <div class="well">
      <pre><code class="json">{{field.inlineExample}}</code></pre>
    </div>
    {% if field.options %}
    <h6>Options</h6>
    <div class="well">
      <pre><code class="json">{% for option in field.options %}{{option}}<br />{% endfor %}</code></pre>
    </div>
    {% endif %}
  </td>
</tr>
