{% extends "base.html"%}

{% block mainpanel %}
<div class="container">
  <h2>Check feed</h2>
  <form method="POST" action="/tools/check-feed">
    <div>
      <div>Paste a feed's JSON representation of an event in the box below</div>
      <textarea name="feed_json" id="feed_json" class="form-control" rows="15" style="resize:none;"></textarea>
    </div>
    <br />
    <p>
      <input type="checkbox" id="show_only_failures" name="show_only_failures"/> Only show failures
    </p>
    <p>
      <input type="submit" class="form-control" value="Submit" />
    </p>
  </form>
</div>
{% endblock %}
