{% extends "base.html"%}
{% set title = 'Models'%}

{% block mainpanel %}
<div class="container">

  <h2>Models</h2>
  <br />
  <p>
    The Open Active Data Model uses models derived from <a href="http://schema.org">Schema.org</a> and <a href="https://www.w3.org/2004/02/skos/">Simple Knowledge Organization System (SKOS)</a>. The specification adopts the same approach as Schema.org and encourages the use of URLs as unique identifiers for resources.
  </p>
  <p>
    Information about Events, Places, Organizations and other types of resources should already have been published online to make that information accessible to users. Using existing URLs as identifiers avoids the need to define a new identifier scheme for resources described in opportunity data.
  </p>
  <ul>
  {% for model in models %}
    <li> <a href="/models/{{model.lower()}}">{{model}}</a> </li>
  {% endfor %}
  </ul>

</div>
{% endblock %}
