{% extends "base.html"%}
{% set title = 'Models | ' + model.type %}

{% block mainpanel %}
<div class="container">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/models">Models</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{model.type}}</li>
  </ol>
</nav>

  <h1>{{model.type}}</h1>
  {% if model.derivedFrom %}
    <p>This model is derived from <a href="{{ model.derivedFrom }}">{{ model.derivedFrom }}</a>.</p>
  {% endif %}
  <hr />

  {% if model.description %}
    {% for section in model.description.sections %}
      {% if section.title %}
        <h3>{{section.title}}</h3>
      {% endif %}
      {% for paragraph in section.markdown %}
        {{paragraph | safe}}
      {% endfor %}
    {% endfor %}
    <hr />
  {% endif %}


  <h2>Fields</h2>
  <br />
  {% if model.requiredFields %}
    <h4>Required fields</h4>
    <table class="table table-bordered" width="100%">
      {% for item in model.requiredFields %}
          {% set field = model.fields[item] %}
          {% include 'fragments/field_row.html' %}
      {% endfor %}
    </table>
  {% endif %}

  {% if model.recommendedFields %}
    <h4>Recommended fields</h4>
    <table class="table table-bordered">
      {% for item in model.recommendedFields %}
          {% set field = model.fields[item] %}
          {% include 'fragments/field_row.html' %}
      {% endfor %}
    </table>
  {% endif %}

  {% if model.optionalFields %}
  <h4>Optional fields</h4>
  <table class="table table-bordered">
    {% for item in model.optionalFields %}
      {% set field = model.fields[item] %}
      {% include 'fragments/field_row.html' %}
    {% endfor %}
  </table>
  {% endif %}

<h2>Examples</h2>
<br />

{% if model.namedExamples %}
  {% for namedExample in model.namedExamples %}
    <h4>{{namedExample.title}}</h4>
    {% for paragraph in namedExample.markdown %}
      {{paragraph | safe}}
    {% endfor %}
    <div class="well">
      <pre><code class="json">{{namedExample.example}}</code></pre>
    </div>
    <br />
  {% endfor %}
{% endif %}


<h4>Complete Example</h4>
<div class="well">
  <pre><code class="json">{{example}}</code></pre>
</div>

</div>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="/static/styles/googlecode.css">
  <script src="/static/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
